<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>YelpCamp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/campgrounds.css" type="text/css">

</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Hamburgers for when collapsing -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <% if(currentUser){ %>
                    <a href="/campgrounds" class="navbar-brand">YelpCamp</a>
                    <% }else{ %>
                        <a href="/" class="navbar-brand">YelpCamp</a>
                        <% } %>
            </div>
            <div class="collapse navbar-collapse" id="collapsable-navbar">
                <ul class="navbar-nav navbar-right nav">
                    <% if(! currentUser){ %>
                        <li>
                            <a href="login">Login</a>
                        </li>
                        <li>
                            <a href="register">Sign Up</a>
                        </li>
                        <% }else{ %>
                            <li>
                                <a href="#">Signed is as 
                                    <%= currentUser.username %>
                                </a>
                            </li>
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                            <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
            <% } %>
                <% if(success && success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                    <% } %>
    </div>

    <div class="container">